<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <p>Olá {{name}}</p>
  <br/>
  <p>Recebemos uma solicitação de redefinição de senha para a sua conta de usuário.</p>
  <br/>
  <p>Se foi você quem solicitou, clique no link abaixo para escolher uma nova senha:</p>
  <br/>
  <p>
    <a href="{{link}}"> Resetar senha</a>
  </p>
  <br/>
  <p> Caso não tenha sido você apenas ignore este email</p>
</div>
